@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-size: 16px;
    background-image: url("images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;

    .description{
        width: 30%;
        margin: 0 auto;
        color: whitesmoke;
        margin-top: 10%;

        h1{
            font-size: 3em;
            font-weight: 700;
        }
    }

    .formulaire{
        width: 50%;
        margin: auto;
        margin: 3em;

        &__blue{
            width: 60%;
            background:rgb(42, 40, 117);
            color: whitesmoke;
            padding: 10px;
            margin-bottom: 2em;
            text-align: center;
            border-radius: 0.8em;
            box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.5);
        }

        &__white{
            background: white;
            width: 60%;
            box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.5);
            padding: 15px;
            border: 1px solid  hsl(246, 25%, 77%);
            border-radius: 0.8em;

            input{
                width: 90%;
                padding: 10px;
                margin: 10px;
                border-radius: 5px;
                outline: none;
                border: 1px solid  hsl(246, 25%, 77%);
                font-size: 1em;
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
            }

            #submit{
                color: whitesmoke;
                background: hsl(154, 59%, 51%);
                border: 2px solid hsl(154, 59%, 51%);
            }

            .para_span{
                font-size: 0.8em;

                span{
                    color: red;
                }
            }

            // for the error message in my span
            .para{
                position: relative;
                left: 55%;
                color: red;
                font-size: 0.8em;
            }
        }
    }
}

.error{
    background: url("images/icon-error.svg") no-repeat right;
}

@media screen and (max-width: 720px) {
    .container{
        display: block;

        .description{
            width: 100%;
            margin: auto;
            text-align: center;
            margin: 2em;

            h1{
                font-size: 2em;
                font-weight: 700;
            }
        }

        .formulaire{
            width: 100%;
            //margin: auto;
            margin: 1em;
    
            &__blue{
                width: 90%;
            }
    
            &__white{
                width: 90%;
    
                // for the error message in my span 
                .para{
                    position: relative;
                    left: 37%;
                    //color: red;
                    //font-size: 0.8em;
                }
            }
        }
    }
    
}